{% set data_redirect_to = __SELF__.getDataRedirect() %}
{% set checkin = __SELF__.getURLParam('checkin') %}
{% set checkout = __SELF__.getURLParam('checkout') %}
{% set adults = __SELF__.getURLParam('adults') %}
{% set children = __SELF__.getURLParam('children') %}
{% set room_id = __SELF__.getURLParam('room_id') %}


<div class="algad-hotel form booking-form well">

    <form class="form-horizontal" role="form" data-request="onBook" data-request-validate data-request-flash {{ data_redirect_to|raw }} >
          <div class="form-group ">
            <label for="checkin" class="col-sm-4 col-md-4 control-label">Checkin : </label>
            <div class="col-sm-8 col-md-8">
                <input  class="form-control" type="date" name="checkin" value="{{ checkin }}" readonly/>
            </div>
        </div>
        <div class="form-group ">
            <label for="checkout" class="col-sm-4 col-md-4 control-label">Checkout : </label>
            <div class="col-sm-8 col-md-8">
                <input  class="form-control" type="date" name="checkout" value="{{ checkout }}" readonly/>
            </div>
        </div>
        <div class="form-group ">
            <label for="checkout" class="col-sm-4 col-md-4 control-label">Adults : </label>
            <div class="col-sm-8 col-md-8">
                <input  class="form-control" type="text" name="adults" value="{{ adults }}" readonly/>
            </div>
        </div>
        <div class="form-group ">
            <label for="checkout" class="col-sm-4 col-md-4 control-label">Children : </label>
            <div class="col-sm-8 col-md-8">
                <input  class="form-control" type="text" name="children" value="{{ children }}" readonly/>
            </div>
        </div>
        <div class="form-group ">
            <input type="hidden" name="room_id" value="{{room_id}}" />
        </div>
        <div class="form-group button-bar">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary">Book</button>
            </div>
        </div>

    </form>   

</div>